.logo-container {
  z-index: 0;
  width: 400px;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: auto;
    bottom: 0;
    transform: rotateZ(-10deg) !important;
  }

  .solid-logo {
    width: 100%;
    opacity: 0;
    transform: rotateZ(30deg);
    z-index: 1;
  }
}

.svg-container {
  stroke: #ffd700;
  stroke-width: 10px;
}

@media screen and (max-width: 480px) {
  .logo-container {
    display: none;
    // width: auto;
    // height: auto;
    // order: 1;
    // img {
    //   width: 30vw;
    // }
  }
}
/* @keyframes duration | easing-function | delay |
iteration-count | direction | fill-mode | play-state | name */
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
